# Requisitos para o projeto Fluxo Estrangeiro B3
pandas==2.0.0
yfinance==0.2.18
streamlit==1.22.0
requests==2.28.2
pyarrow==14.0.1  # Para suporte a arquivos parquet
plotly==5.14.1    # Para gráficos interativos
